<div class="mt-cs-wave-footer" id="kontak">
	<img src="images/wave-footer.svg" class="img-responsive" alt="">
</div>
<div class="container-fluid footer">
	<br class="hidden-sm hidden-md hidden-lg">
	<div class="col-md-4 col-sm-4">
		<h3 class="title-footer">Tentang kami</h3>
		<p class="isi-content-layanan cs-sub-footer cs-media-content">Simetriz adalah penyedia Jasa Pembuatan Website dan aplikasi desktop yang berfokus pada pengembangan bisnis melalui media digital.</p>
	</div>

	<div class="col-md-4 col-sm-4">
		<h3 class="title-footer">Jasa</h3>
		<div class="isi-content-layanan cs-list-footer cs-sub-footer cs-media-content">

			<li>
				<i class="fas fa-check"></i>&nbsp;
				<span>Website Company Profile</span>
			</li>

			<li>
				<i class="fas fa-check"></i>&nbsp;<span>Website Sekolah</span>
			</li>

			<li>
				<i class="fas fa-check"></i>&nbsp;
				<span>Website Personal</span>
			</li>

			<li>
				<i class="fas fa-check"></i>&nbsp;<span>Website Desa</span>
			</li>

			<li>
				<i class="fas fa-check"></i>&nbsp;<span>Aplikasi Desktop</span>
			</li>

		</div>
	</div>

	<div class="col-md-4 col-sm-4">
		<h3 class="title-footer">Kontak Kami</h3>
		<div class="isi-content-layanan cs-list-footer cs-media-content">
			<p class="isi-content-layanan cs-sub-footer cs-media-content">Apakah anda mempunyai pertanyaan ?<br>
			Anda dapat menghubungi kontak kami dibawah ini baik menghubungi lewat whatsapp atau email kami.</p>
			
			<p class="main-flex">
				<a href="mailto:simetriz07@gmail.com">
					<i class="far fa-envelope"></i><span>simetriz07@gmail.com</span>
				</a>
			</p>

			<p class="main-flex">

				<a href="https://api.whatsapp.com/send?phone=6289634130573&text=Halo%20Kakak%20apakah%20saya%20bisa%20berkonsultasi%20mengenai%20pembuatan%20website%20di%20Simetriz?...">
					<i class="fab fa-whatsapp"></i><span>6289634130573</span>
				</a>

			</p>
			<p class="main-flex">
				<a href="https://api.whatsapp.com/send?phone=6285366367457&text=Halo%20Kakak%20apakah%20saya%20bisa%20berkonsultasi%20mengenai%20pembuatan%20website%20di%20Simetriz?...">
					<i class="fab fa-whatsapp"></i><span>6285366367457</span>
				</a>
			</p>
			
			<p class="main-flex">
				<a href="https://www.instagram.com/simetriz_corp/">
					<i class="fab fa-instagram"></i><span>simetriz corp</span>
				</a>
			</p>	
		</div>
	</div>
	<div class="col-md-12 backup-last-copyright">
		<p class="last-copyright text-center">
			© Copyright Simetriz 2019. All Rights Reserved
		</p>
		<p class="last-copyright text-center">
			Made with<i class="fas fa-heart"></i>Simetriz Team
		</p>
	</div>
</div>