<img src="images/wave-atas.svg" class="img-responsive" alt="">
<div class="container-fluid slide-project cs-other-page-pb">
	<div class="col-md-12 sub-slide-project">

		<!--  -->
		<center class="backup-title-layanan custom-mt-join" data-aos="zoom-in">
			<span class="mini-word">Mari Bergabung</span>
			<h3 class="h2-layanan">
				Mari bergabung dengan kami
			</h3>
			<img src="images/border-divider.svg" class="img-responsive" alt="">	
		</center>
		<!--  -->

		<p class="word-join" data-aos="zoom-in">
			Mari perluas bisnis anda bersama kami melalui website agar dapat menjangkau pasar dan target yang lebih luas
		</p>

		<p class="backup-btn-get-started text-center" target="blank" data-aos="fade-up">
			<a class="btn-get-started cs-btn-join" href="https://api.whatsapp.com/send?phone=6289634130573&text=Halo%20Kakak%20apakah%20saya%20bisa%20berkonsultasi%20mengenai%20pembuatan%20website%20di%20Simetriz?...">
				Kontak Kami
			</a>
		</p>

	</div>
</div>
<img src="images/wave-bawah.svg" class="img-responsive" alt="">