<div class="container-fluid services" id="layanan">
	<div class="col-md-12">
		<!--  -->
		<center class="backup-title-layanan" data-aos="zoom-in">
			<span class="mini-word">Layanan kami</span>
			<h3 class="h2-layanan">Apa Saja Layanan Kami
			</h3>
			<img src="images/border-divider.svg" class="img-responsive" alt="">	
		</center>
		<!--  -->
		<div class="container-fluid card-services">


				<div class="col-md-6 col-sm-6 col-sm-12 l-services" >
					<div class="grid-layanan" data-aos="fade-up">
					<div class="title-service">
						<p><img src="images/web-design.svg" width="70" height="70" alt=""></p>
					</div>
					<div class="backup-content-layanan">
						<p class="big-title-layanan">Web Design</p>
						<p class="isi-content-layanan">
							Menerima jasa pembuatan website company profile, website sekolah, website desa, personal website, dll
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-6 col-sm-12 l-services">
				<div class="grid-layanan" data-aos="fade-up">
				<div class="title-service">
					<p><img src="images/web-dev.svg" width="70" height="70" alt=""></p>
				</div>
				<div class="backup-content-layanan">
					<p class="big-title-layanan">Web Development</p>
					<p class="isi-content-layanan">
						Mari Bangun Website Anda bersifat dinamis agar dapat berinteraksi Dengan Pengunjung Website
					</p>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-sm-6 col-sm-12 l-services">
			<div class="grid-layanan" data-aos="fade-up">
			<div class="title-service">
				<p><img src="images/graphic.svg" width="70" height="70" alt=""></p>
			</div>
			<div class="backup-content-layanan">
				<p class="big-title-layanan">Design Grafis</p>
				<p class="isi-content-layanan">
					Menerima jasa pembuatan Logo company, Personal logo, Desain undangan, dan lain-lain
				</p>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-sm-6 col-sm-12 l-services">
		<div class="grid-layanan" data-aos="fade-up">
		<div class="title-service">
			<p><img src="images/dekstop.svg" width="70" height="70" alt=""></p>
		</div>
		<div class="backup-content-layanan">
			<p class="big-title-layanan">Desktop Development</p>
			<p class="isi-content-layanan">
				Menerima Jasa Pembuatan aplikasi desktop seperti  aplikasi penjualan, dan lain-lain	
			</p>
		</div>
	</div>
</div>


</div>
<!--  -->
</div>
</div>