<div class="container-fluid alasan-pilih">
	<div class="col-md-12">

		<!--  -->
		<center class="backup-title-layanan" data-aos="zoom-in">
			<!--  -->
			<span class="mini-word">WHY</span>
			<h3 class="h2-layanan">Mengapa Memilih&nbsp;
				<span class="dif-color">Simetriz ?</span>
			</h3>
			<img src="images/border-divider.svg" class="img-responsive" alt="">
			<br>	
		</center>
		<!--  -->

	</div>

	<!-- muncul saat di ukuran layar hp saja -->
	<div class="col-md-12 hidden-sm hidden-md hidden-lg" data-aos="zoom-in-up">
		<p class="img-mockup-alasan">
			<img src="images/mockup-high.png" class="img-responsive" alt="">
		</p>
	</div>
	<!-- muncul saat di ukuran layar hp saja -->
	
	<div class="col-md-5 col-sm-5">
		<ol class="big-title-layanan custom-list">
			
			<li data-aos="fade-up">
				<p class="cs-media-content">Mudah Digunakan</p>
				<p class="isi-content-layanan cs-media-content">
					memastikan bahwa website atau aplikasi yang anda bangun bersama kami nantinya user friendly dan mudah dikelola oleh admin.
				</p>
			</li>

			<li data-aos="fade-up">
				<p class="cs-media-content">Design elegant dan menarik</p>
				<p class="isi-content-layanan cs-media-content">
					Team kami akan membangun website atau aplikasi dengan desain yang menarik serta sesuai dengan keinginan anda.
				</p>
			</li>

			<li data-aos="fade-up">
				<p class="cs-media-content">Responsive</p>
				<p class="isi-content-layanan cs-media-content">
					Memastikan website yang anda bangun bersama kami terlihat nyaman di segala device.
				</p>
			</li>

		</ol>
	</div>
	
	<div class="col-md-7 col-sm-7 hidden-xs" data-aos="zoom-in-up">
		<p class="img-mockup-alasan">
			<img src="images/mockup-high.png" class="img-responsive" alt="">
		</p>
	</div>

</div>