<div class="container-fluid tentang-kami" id="tentang">
	<div class="col-md-5 col-sm-5 backup-img-company" data-aos="flip-right">
		<img src="images/bg2.jpg" class="img-responsive img-company" alt="">
	</div>

	<div class="col-md-7 col-sm-7">

		<div class="backup-title-about">
			<p class="title-about" data-aos="fade-down">Tentang kami<span>
				<img src="images/border-divider.svg" alt=""></span>
			</p>
			<div data-aos="fade-up">
				<h2 class="word-about">
					Mari jangkau bisnis anda&nbsp;
					<span class="dif-color">lebih luas</span>
				</h2>

				<p class="isi-content-layanan custom-content-lh cs-media-content">
					Simetriz adalah penyedia Jasa Pembuatan Website dan aplikasi desktop yang berfokus pada pengembangan bisnis melalui website dan kebutuhan aplikasi lainnya.
				</p>
			</div>
		</div>
	</div>
</div>